{% extends "disciplinetracking/base.html" %}
{% block content %}
<form action="{% url 'disciplinetracking-home' %}" method="get" id="search-form" class="input-group mb-4" style="width:30%;">
    
        <input class="form-control" type="text" name="q" value="{{ search_query }}" placeholder="Search...">
        <div class="input-group-append">
            <button class="input-group-text" id="basic-addon2" type="submit">Search</button>
          </div>
        <!-- <input type="submit" class="btn btn-info" value="Search"></input>
        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
         -->
      
    
</form>
   
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
            <th scope="col">LRN</th>
            <th scope="col">Name</th>
            <th scope="col">Birthday</th>
            <th scope="col">#</th>
          </tr>
        </thead>
            <tbody>
          
    {% if students %}
        {% for student in students %}
    
        <tr>
            <td><a href="{% url 'disciplinetracking-list' student.pk %}">{{ student.lrn }}</a></td>
            <td><a href="{% url 'disciplinetracking-list' student.id %}">{{ student.name }}</a></td>
            <td><a href="{% url 'disciplinetracking-list' student.id %}">{{ student.birthday }}</a></td>
            <td><a class="btn btn-primary" href="{% url 'disciplinetracking-add-violation' student.id %}">Add</a>
                <a class="btn btn-info" href="{% url 'disciplinetracking-update' student.id %}">Edit</a>
                <a class="btn btn-danger" href="{% url 'delete-student' student.id %}">Delete</a></td>    
        </tr>
        
        {% endfor %}
    {% else %} 
        <tr>
           <td col="2">NO DATASET</td>
          </tr>
        
   {% endif %}
</tbody>
</table>
{% endblock %}