{% extends "disciplinetracking/base.html" %}
{% block content %}
  <div class="card" id="card">
    <div class="card-header">
      <p style="text-transform:capitalize;">{{ student.name }} - {{ student.lrn }}</p>
      {% if user.is_authenticated %} <a class="btn btn-primary" href="{% url 'disciplinetracking-add-violation' student.id %}">Add</a> {% endif %}
      <a class="btn btn-info" href="{% url 'download_pdf' student.id %}">Download PDF</a>
    </div>
  
    
    <div class="card-body">
      <h5 class="">Violations</h5>
      {% for violation in violations %}
      <div class="card-header">
        SY{{ violation.school_year }} | {{ violation.date_posted }} 
        {% if user.is_authenticated %}
        created by: {{ violation.created_by }}
        {% endif %}
      </div>
        <div class="card-body">
          {% if user.is_authenticated %}
          <a href="{% url 'disciplinetracking-update-violation' violation.id %}">Edit</a>
          <a href="{% url 'delete-violation' violation.id %}">Delete</a>
          {% endif %}
          <h6 class="card-title">Narrative Report</h6>
          <p class="card-text"><span class="text-muted"><i id="violation-offense">
            {% if violation.violation_number == 1 %}
           {{ violation.violation_number }}st Offense
            {% elif violation.violation_number == 2 %}
            {{ violation.violation_number }}nd Offense
            {% elif violation.violation_number == 3 %}
            {{ violation.violation_number }}rd Offense
            {% else %}
            {{ violation.violation_number }}th Offense
            {% endif %}</i></span>
            : 
            {% if violation.selected_offense == 'Others' %}
            {{ violation.custom_description }}
            {% else %}
            {{ violation.get_selected_offense_display }}
            {% endif %}
             </p>
             <p class="card-text">Narrative Report: <i>{{ violation.narrative_report }}</i></p>
        </div>
        <div class="card-body">
          <h6 class="card-title">Intervention</h6>
          <p class="card-text">Action Taken: <i>{{ violation.action_taken }}</i></p>
           
            <p class="card-text">Recommendation: <i>{{ violation.recommendation }}</i> </p>
            <p class="card-text">Date: {{ violation.intervention_date }}</p>
          
            {% if violation.pictures %}
            <img src="{{ violation.pictures.url }}" alt="Violation Image" style="width:15%;">
            {% else %}
            <p></p>
            {% endif %}
        </div>
      {% endfor %}
    </div></div>
  

{% endblock %}